# Dependensi
node_modules/

# Hasil kompilasi / Build output
dist/
build/

# File konfigurasi environment (SANGAT PENTING)
.env
.env.*
!.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# File dari sistem operasi
.DS_Store
Thumbs.db

# Konfigurasi Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Drizzle SQLite lokal (Jika suatu saat pakai SQLite, abaikan jika full MySQL)
*.db
*.sqlite
